<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yangdai.calc">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" /> <!-- 适配android 11无法唤起第三方apk -->
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <queries>
        <intent>
            <action android:name="android.intent.action.DIAL" />
        </intent>
        <!-- 支付宝支付SDK -->
        <package android:name="com.eg.android.AlipayGphone" />
    </queries> <!-- 适配android 11无法使用tts -->
    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="tiramisu">

        <activity
            android:name=".fraction.FractionActivity"
            android:exported="true"
            android:label="@string/numberConvert"
            android:parentActivityName=".main.MainActivity" />
        <activity
            android:name=".algebra.StatisticsActivity"
            android:exported="true"
            android:label="@string/statisticActivity"
            android:parentActivityName=".main.MainActivity" />
        <activity
            android:name=".function.FunctionActivity"
            android:exported="true"
            android:label="@string/functionActivity"
            android:parentActivityName=".main.MainActivity" />
        <activity
            android:name=".random.RandomNumberActivity"
            android:exported="true"
            android:label="@string/randomActivity"
            android:parentActivityName=".main.MainActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".other.AboutActivity"
            android:exported="false"
            android:label="@string/about"
            android:parentActivityName=".main.MainActivity" />
        <activity
            android:name=".other.SettingsActivity"
            android:exported="false"
            android:label="@string/settings"
            android:parentActivityName=".main.MainActivity" />
        <activity
            android:name=".finance.FinanceActivity"
            android:exported="true"
            android:label="@string/financeActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".main.MainActivity">
            <intent-filter>
                <action android:name="com.yangdai.calc.finance.FinanceActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".shopping.ShoppingActivity"
            android:exported="true"
            android:label="@string/shoppingActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".main.MainActivity">
            <intent-filter>
                <action android:name="com.yangdai.calc.DiscountActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".relationship.RelationshipActivity"
            android:exported="true"
            android:label="@string/relationshipActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".main.MainActivity">
            <intent-filter>
                <action android:name="com.yangdai.calc.relationship.RelationshipActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChineseNumberConversionActivity"
            android:exported="true"
            android:label="@string/chineseNumberConverter"
            android:launchMode="singleTask"
            android:parentActivityName=".main.MainActivity">
            <intent-filter>
                <action android:name="com.yangdai.calc.ChineseNumberConversionActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".currency.CurrencyActivity"
            android:exported="true"
            android:label="@string/exchangeActivity"
            android:parentActivityName=".main.MainActivity">
            <intent-filter>
                <action android:name="com.yangdai.calc.exchange.ExchangeActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BMIActivity"
            android:exported="true"
            android:label="@string/bmiActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".main.MainActivity">
            <intent-filter>
                <action android:name="com.yangdai.calc.BMIActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".time.DateRangeActivity"
            android:exported="true"
            android:label="@string/dateActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".main.MainActivity">
            <intent-filter>
                <action android:name="com.yangdai.calc.time.DateRangeActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".compass.Compass"
            android:exported="true"
            android:label="@string/compassActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".main.MainActivity">
            <intent-filter>
                <action android:name="com.yangdai.calc.compass.Compass" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".converter.UnitActivity"
            android:exported="true"
            android:label="@string/ChangeActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".main.MainActivity">
            <intent-filter>
                <action android:name="com.yangdai.calc.converter.ChangeActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.noActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.APP_CALCULATOR" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesActivity"
            android:theme="@style/AppTheme" />

        <receiver
            android:name=".widgets.MyWidgetProvider"
            android:exported="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider" />
        </receiver>
        <receiver
            android:name=".widgets.MyWidgetProviderCalc1"
            android:exported="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.yangdai.calc.BUTTON_CLICK1" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider_calc1" />
        </receiver>
        <receiver
            android:name=".widgets.MyWidgetProviderCalc2"
            android:exported="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.yangdai.calc.BUTTON_CLICK2" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider_calc2" />
        </receiver>

        <service android:name=".floating.FloatingWindow" />
    </application>

</manifest>